/* BUTTON CSS RESET */
/* Base */
body {
    color: green;
    font-family: "Georgia", serif;
    font-size: 24px;
    line-height: 1.5;
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}




/* SASS presets */
$primary-color:rgb(200,50,40);
$primary-color-dark:rgb(130,30,20);
$secondary-color:rgb(40,180,180);
$bg-color:#eee;
$universal-max-width: 480px;

body{
	background-color: $bg-color;
    color:#656565;
    margin:50px 1rem 20px 1rem;
	/* Font */
	font-family: 'Verdana', 'Arial', sans-serif;
	font-size:16px;
	line-height: 1.46rem;
}

#app{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: $universal-max-width;
}

.timerClock{
    justify-content: center;
	font-size: 3rem;
	color:#fff;
	background-color: $primary-color;
	width: 280px;
	height:280px;
	border-radius: 140px;
	transition: 200ms background-color, 50ms transform;

	&:focus{
	    box-shadow: 0 0 0 2px $primary-color-dark;
	    outline:none;
	}

    &:active{
        background-color:$primary-color-dark;
        transform:scale(0.99);
    }
}

form{
    width:100%;

    & input{
        width:100%;
        min-height:3.5rem;
        padding: 0 1rem;
        word-break: break-word;
        font-size: 1rem;
        color:#333;
    }
    & p{
        margin:0;
        font-size: 0.9rem;
    }
}

header{
    color:#fff;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: $primary-color;
    padding:0.5rem 1rem;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.5);

    & h1 {
        font-size:1rem;
        font-weight: 400;
        padding: 0;
        margin:0;
    }
}

.taskList{
    list-style: none;
    padding:0;

    & li{
        margin: 0.5rem 0;

        & button{
            color:#333;
            width:92%;
            padding: 1rem 4%;
            background-color: #fff;
            box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
            text-align: left;
        }
    }
}